body {
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top:5px;
    text-align: center;
    z-index: 2;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlMTe7eCXJbKyuteRjFANuFxD8xN_dChUSESWkN98sRw&s=10);
    /*-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bad Script', cursive;
}
.navbar{
    color:black;
    background-color: white;
    justify-content: center;
    display: flex;
}